<h3> Web Scrapping </h3>

<b> In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per 
the requirement of the question. </b>

<b> Importing Libraries </b>

In [1]:
from bs4 import BeautifulSoup
import requests

import pandas as pd

print("Libraries loaded successfully!!!")

Libraries loaded successfully!!!

<b> 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’. </b>

In [2]:
def heading(url):
    p1 = requests.get(url)
    #p1.content
    
    print(p1.status_code)
    
    s1 = BeautifulSoup(p1.content, 'html.parser')
    #print(s1.prettify())
    
    h1 = s1.find_all('span', class_="mw-headline")
    heading = []
    for i in h1:
        heading.append(i.get_text())
        
    print(heading)

In [3]:
heading("https://en.wikipedia.org/wiki/Main_Page")

200
["From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

<b> 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame. </b>

In [4]:
def IMDB_Movie(url):
    p2 = requests.get(url)
    #p2.content
    
    print(p2.status_code)
    
    s2 = BeautifulSoup(p2.content, "html.parser")
    #print(s2.prettify())
    
    t1 = s2.find_all('td', class_='titleColumn') 
    Movie_Title = []
    for i in t1:
        for j in i.find_all('a'):
            Movie_Title.append(j.text)
            
    y1 = s2.find_all('span', class_='secondaryInfo') 
    Year_of_Release = []
    for i in y1:
        Year_of_Release.append(i.text)
            
    r1 = s2.find_all('td', class_='ratingColumn imdbRating')
    Movie_Rating = []
    for i in r1:
        for j in i.find_all('strong'):
            Movie_Rating.append(j.text) 
            
    IMDB_Movies = pd.DataFrame()
    IMDB_Movies['Movie_Title'] = Movie_Title[0:100]
    IMDB_Movies['Year_of_Release'] = Year_of_Release[0:100]
    IMDB_Movies['Movie_Rating'] = Movie_Rating[0:100]
    
    print("Shape of IMDB Movie Ratings is {} rows and {} columns \n.".format(*IMDB_Movies.shape))
    print(IMDB_Movies.head(2))

In [5]:
IMDB_Movie("https://www.imdb.com/chart/top/")

200
Shape of IMDB Movie Ratings is 100 rows and 3 columns
.
                Movie_Title Year_of_Release Movie_Rating
0  The Shawshank Redemption          (1994)          9.2
1             The Godfather          (1972)          9.1

<b> 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame. </b>

In [6]:
def IMDB_Ind(url):
    p3 = requests.get(url)
    #p3.content
    
    print(p3.status_code)
    
    s3 = BeautifulSoup(p3.content, 'html.parser')
    #print(s3.prettify())
    
    t1 = s3.find_all("td", class_='titleColumn')
    Movie_Title = []
    for i in t1:
        for j in i.find_all("a"):
            Movie_Title.append(j.text)
            
    y1 = s3.find_all("span", class_="secondaryInfo")
    Year = []
    for i in y1:
        Year.append(i.text)
        
    r1 = s3.find_all("td", class_='ratingColumn imdbRating')
    Rating = []
    for i in r1:
        for j in i.find_all("strong"):
            Rating.append(j.text)
    
    IMDB_Movies_IND = pd.DataFrame()
    IMDB_Movies_IND['Movie_Title'] = Movie_Title[0:100]
    IMDB_Movies_IND['Year_of_Release'] = Year[0:100]
    IMDB_Movies_IND['Movie_Rating'] = Rating[0:100]
    
    print("Shape of IMDB Movie Ratings is {} rows and {} columns \n.".format(*IMDB_Movies_IND.shape))
    print(IMDB_Movies_IND.head(2))

In [7]:
IMDB_Ind("https://www.imdb.com/india/top-rated-indian-movies/")

200
Shape of IMDB Movie Ratings is 100 rows and 3 columns
.
       Movie_Title Year_of_Release Movie_Rating
0  Pather Panchali          (1955)          8.5
1          Nayakan          (1987)          8.5

<b> 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’. </b>

In [8]:
def bookreview(url):
    p4 = requests.get(url)
    #p4.content
    
    print(p4.status_code)
    
    s4 = BeautifulSoup(p4.content, "html.parser")
    #print(s4.prettify())
    
    bn = s4.find_all("h4", class_="italic")
    Book_Name = []
    for i in bn:
        for j in i.find_all("a"):
            Book_Name.append(i.text.strip("\n"))
            
    an = s4.find_all("p", class_='sans bold')
    Author = []
    for i in an:
        Author.append(i.text.strip("\n"))
    
    rn = s4.find_all("p", class_='excerpt')
    Review = []
    for i in rn:
        Review.append(i.text.strip("\n"))
        
    Book_Reviews = pd.DataFrame()
    Book_Reviews['Book_Name'] = Book_Name[0:5]
    Book_Reviews['Author_Name'] = Author[0:5]
    Book_Reviews['Review'] = Review[0:5]
    
    print("Shape of Book Review is {} rows and {} columns.".format(*Book_Reviews.shape))
    print(Book_Reviews.head(2))

In [9]:
bookreview("https://bookpage.com/reviews")

200
Shape of Book Review is 5 rows and 3 columns.
                     Book_Name        Author_Name  \
0   ★ Instructions for Dancing        Nicola Yoon
1                    Super Fly  Jonathan Balcombe

                                              Review
0  When Evie tries to get rid of her romance nove...
1  From wound-healing maggots to flies that helpe...

<b> 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: </b>

> <b>  i. Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. </b>

In [10]:
def ODI_Men(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    t1 = s5.find_all('span', class_='u-hide-phablet')
    Team_Name = []
    for i in t1:
        Team_Name.append(i.text)
        
    m1 = s5.find_all('td', class_='rankings-block__banner--matches')
    Matches = []
    for i in m1:
        Matches.append(i.text)
        
    p1 = s5.find_all('td', class_='rankings-block__banner--points')
    Point = []
    for i in p1:
        Point.append(i.text) 
    
    r1 = s5.find_all('td', class_='rankings-block__banner--rating u-text-right')
    Rating = []
    for i in r1:
        Rating.append(i.text.strip('\n'))
    Ratings = [] 
    Ratings.append(Rating[0].strip())
    
    m1 = s5.find_all('td', class_='table-body__cell u-center-text')
    k = []
    for i in range(0,len(m1),2):
        k.append(m1[i])
    for i in k:
        Matches.append(i.get_text())
        
    k = []
    for i in range(1,len(m1),2):
        k.append(m1[i])
    for i in k:
        Point.append(i.get_text())
        
    r1 = s5.find_all('td', class_='table-body__cell u-text-right rating')
    for i in r1:
        Ratings.append(i.get_text().strip('\n'))
        
    ODI_Men = pd.DataFrame()
    ODI_Men['Team_Name'] = Team_Name[0:10]
    ODI_Men['Matches'] = Matches[0:10]
    ODI_Men['Ratings'] = Ratings[0:10]
    ODI_Men['Point'] = Point[0:10]
    print("Shape of dataset is {} rows and {} columns".format(*ODI_Men.shape))
    print(ODI_Men.head(3))

In [11]:
ODI_Men("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

200
Shape of dataset is 10 rows and 4 columns
     Team_Name Matches Ratings  Point
0  New Zealand      17     121  2,054
1    Australia      25     118  2,945
2        India      29     115  3,344

> <b>  ii. Top 10 ODI Batsmen in men along with the records of their team and rating. </b>

In [12]:
def ODI_Batsman(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    p1 = s5.find_all('div', class_='rankings-block__banner--name-large')
    Player = []
    for i in p1:
        Player.append(i.text)
    
    p2 = s5.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in p2:
        for j in i.find_all("a"):
            Player.append(j.text)
            
    t1 = s5.find("div", class_="rankings-block__banner--nationality")
    Team = []
    Team.append(t1.text.strip())
    
    t2 = s5.find_all("span", class_='table-body__logo-text')
    for i in t2:
        Team.append(i.text)
        
    r1 = s5.find_all('td', class_='table-body__cell rating')
    Rating = []
    for i in r1:
        Rating.append(i.text)
        
    ODI_Batsman = pd.DataFrame()
    ODI_Batsman['Team'] = Team[0:10]
    ODI_Batsman['Player'] = Player[0:10]
    ODI_Batsman['Rating'] = Rating[0:10]
    print("Shape of dataset is {} rows and {} columns".format(*ODI_Batsman.shape))
    print(ODI_Batsman.head(3))

In [13]:
ODI_Batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/Batting")

200
Shape of dataset is 10 rows and 3 columns
  Team        Player Rating
0  PAK    Babar Azam    857
1  IND   Virat Kohli    825
2  IND  Rohit Sharma    801

> <b>  iii. Top 10 ODI bowlers along with the records of their team and rating. </b>

In [14]:
def ODI_Bowler(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    p1 = s5.find_all('div', class_='rankings-block__banner--name-large')
    Player = []
    for i in p1:
        Player.append(i.text)
    
    p2 = s5.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in p2:
        for j in i.find_all("a"):
            Player.append(j.text)
            
    t1 = s5.find("div", class_="rankings-block__banner--nationality")
    Team = []
    Team.append(t1.text.strip())
    
    t2 = s5.find_all("span", class_='table-body__logo-text')
    for i in t2:
        Team.append(i.text)
        
    r1 = s5.find_all('td', class_='table-body__cell rating')
    Rating = []
    for i in r1:
        Rating.append(i.text)
        
    ODI_Bowler = pd.DataFrame()
    ODI_Bowler['Team'] = Team[0:10]
    ODI_Bowler['Player'] = Player[0:10]
    ODI_Bowler['Rating'] = Rating[0:10]
    print("Shape of dataset is {} rows and {} columns".format(*ODI_Bowler.shape))
    print(ODI_Bowler.head(3))

In [15]:
ODI_Batsman("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/Bowling")

200
Shape of dataset is 10 rows and 3 columns
  Team            Player Rating
0   NZ       Trent Boult    708
1  AFG  Mujeeb Ur Rahman    691
2   NZ        Matt Henry    690

<b> 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: </b>

> <b> i. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. </b>

In [16]:
def ODI_Women(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    t1 = s5.find_all('span', class_='u-hide-phablet')
    Team_Name = []
    for i in t1:
        Team_Name.append(i.text)
        
    m1 = s5.find_all('td', class_='rankings-block__banner--matches')
    Matches = []
    for i in m1:
        Matches.append(i.text)
        
    p1 = s5.find_all('td', class_='rankings-block__banner--points')
    Point = []
    for i in p1:
        Point.append(i.text) 
    
    r1 = s5.find_all('td', class_='rankings-block__banner--rating u-text-right')
    Rating = []
    for i in r1:
        Rating.append(i.text.strip('\n'))
    Ratings = [] 
    Ratings.append(Rating[0].strip())
    
    m1 = s5.find_all('td', class_='table-body__cell u-center-text')
    k = []
    for i in range(0,len(m1),2):
        k.append(m1[i])
    for i in k:
        Matches.append(i.get_text())
        
    k = []
    for i in range(1,len(m1),2):
        k.append(m1[i])
    for i in k:
        Point.append(i.get_text())
        
    r1 = s5.find_all('td', class_='table-body__cell u-text-right rating')
    for i in r1:
        Ratings.append(i.get_text().strip('\n'))
        
    ODI_Women = pd.DataFrame()
    ODI_Women['Team_Name'] = Team_Name[0:10]
    ODI_Women['Matches'] = Matches[0:10]
    ODI_Women['Ratings'] = Ratings[0:10]
    ODI_Women['Point'] = Point[0:10]
    print("Shape of dataset is {} rows and {} columns".format(*ODI_Women.shape))
    print(ODI_Women.head(3))

In [17]:
ODI_Women("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

200
Shape of dataset is 10 rows and 4 columns
      Team_Name Matches Ratings  Point
0     Australia      18     164  2,955
1  South Africa      24     118  2,828
2       England      17     117  1,993

> <b> ii. Top 10 women’s ODI players along with the records of their team and rating. </b>

In [18]:
def ODI_Woman(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    p1 = s5.find_all('div', class_='rankings-block__banner--name-large')
    Player = []
    for i in p1:
        Player.append(i.text)
    
    p2 = s5.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in p2:
        for j in i.find_all("a"):
            Player.append(j.text)
            
    t1 = s5.find("div", class_="rankings-block__banner--nationality")
    Team = []
    Team.append(t1.text.strip())
    
    t2 = s5.find_all("span", class_='table-body__logo-text')
    for i in t2:
        Team.append(i.text)
        
    r1 = s5.find_all('td', class_='table-body__cell rating')
    Rating = []
    for i in r1:
        Rating.append(i.text)
        
    ODI_Woman = pd.DataFrame()
    ODI_Woman['Team'] = Team[0:10]
    ODI_Woman['Player'] = Player[0:10]
    ODI_Woman['Rating'] = Rating[0:10]
    print("Shape of dataset is {} rows and {} columns".format(*ODI_Woman.shape))
    print(ODI_Woman.head(3))

In [19]:
ODI_Woman("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")

200
Shape of dataset is 10 rows and 3 columns
  Team          Player Rating
0  ENG  Tammy Beaumont    758
1   SA     Lizelle Lee    756
2  AUS    Alyssa Healy    746

> <b> iii. Top 10 women’s ODI all-rounder along with the records of their team and rating. </b>

In [22]:
def ODI_Allrounder(url):
    p5 = requests.get(url)
    #p5.content
    print(p5.status_code)
    
    s5 = BeautifulSoup(p5.content, "html.parser")
    #print(s5.prettify())
    
    p1 = s5.find_all('div', class_='rankings-block__banner--name-large')
    Player = []
    for i in p1:
        Player.append(i.text)
    
    p2 = s5.find_all('td', class_='table-body__cell rankings-table__name name')
    for i in p2:
        for j in i.find_all("a"):
            Player.append(j.text)
            
    t1 = s5.find("div", class_="rankings-block__banner--nationality")
    Team = []
    Team.append(t1.text.strip())
    
    t2 = s5.find_all("span", class_='table-body__logo-text')
    for i in t2:
        Team.append(i.text)
        
    r1 = s5.find_all('td', class_='table-body__cell rating')
    Rating = []
    for i in r1:
        Rating.append(i.text)
        
    ODI_Allrounder = pd.DataFrame()
    ODI_Allrounder['Team'] = Team[0:10]
    ODI_Allrounder['Player'] = Player[0:10]
    ODI_Allrounder['Rating'] = Rating[0:10]
    print("Shape of dataset is {} rows and {} columns".format(*ODI_Allrounder.shape))
    print(ODI_Allrounder.head(3))

In [24]:
ODI_Allrounder("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

200
Shape of dataset is 10 rows and 3 columns
  Team           Player Rating
0   SA   Marizanne Kapp    418
1  AUS     Ellyse Perry    410
2   WI  Stafanie Taylor    349

<b> 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating. </b>

In [39]:
u = requests.get("https://www.amazon.in/s?k=mobile&rh=p_36%3A-20000000&qid=1621975129&rnid=1318502031&ref=sr_nr_p_36_5")

In [40]:
u.status_code

200

In [41]:
def Amazon(url):
    p7 = requests.get(url)
    #p5.content
    print(p7.status_code)
    
    s7 = BeautifulSoup(p7.content, 'html.parser')
    #print(s7.prettify())
    
    m_name = s7.find_all('span', class_='a-size-medium a-color-base a-text-normal')
    m_price = s7.find_all('span', class_='a-price-whole')
    m_rating = s7.find_all('span', class_="a-icon-alt")
    m_img = s7.find_all('img', class_="s-image")
    
    Mobile = []
    for i in m_name:
        Mobile.append(i.get_text())
        
    Price = []
    for i in m_price:
        Price.append(i.get_text())
        
    Rating = []
    for i in m_rating:
        Rating.append(i.get_text())
        
    Image = []
    for i in m_img:
        Image.append(i.get('srcset'))
        
    Mobile_dataset = pd.DataFrame()
    Mobile_dataset['Mobile_Name'] = Mobile[0:16]
    Mobile_dataset['Mobile_Price'] = Price[0:16]
    Mobile_dataset['Mobile_rating'] = Rating[0:16]
    Mobile_dataset['Image_Link'] = Image[0:16]
    print("Shape of dataset is {} rows and {} columns".format(*Mobile_dataset.shape))
    print(Mobile_dataset.head())

In [43]:
Amazon("https://www.amazon.in/s?k=mobile&rh=p_36%3A-20000000&qid=1621975129&rnid=1318502031&ref=sr_nr_p_36_5")

200
Shape of dataset is 16 rows and 4 columns
                                         Mobile_Name Mobile_Price  \
0  Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...        6,999
1  Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...        8,799
2  Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...       10,999
3  Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...       14,999
4  Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...       10,990

        Mobile_rating                                         Image_Link
0  4.2 out of 5 stars                                               None
1  4.2 out of 5 stars  https://m.media-amazon.com/images/I/71sxlhYhKW...
2  4.0 out of 5 stars  https://m.media-amazon.com/images/I/71A9Vo1Bat...
3  4.3 out of 5 stars  https://m.media-amazon.com/images/I/71yYaNztZ0...
4  4.2 out of 5 stars  https://m.media-amazon.com/images/I/71-Su4Wr0H...

<b> 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description. </b>

In [54]:
def Weather(url):
    p8 = requests.get(url)
    #p8.content
    print(p8.status_code)
    
    s8 = BeautifulSoup(p8.content, "html.parser")
    #print(s8.prettify())
    
    d1 = s8.find_all("p", class_ ="period-name")
    Day = []
    for i in d1:
        Day.append(i.text)

    t1 = s8.find_all('p', class_='temp temp-high')
    Temp = []
    for i in t1:
        Temp.append(i.text)
        
    d2 = s8.find_all("p", class_="short-desc")
    Description = []
    for i in d2:
        Description.append(i.text)
        
    Weather = pd.DataFrame()
    Weather['Day'] = Day[0:5]
    Weather['Temp'] = Temp[0:5]
    Weather['Description'] = Description[0:5]
    print("Shape of dataset is {} rows and {} columns".format(*Weather.shape))
    print(Weather.head())

In [55]:
Weather("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YK1i9agzZPZ")

200
Shape of dataset is 5 rows and 3 columns
              Day         Temp                Description
0   ThisAfternoon  High: 64 °F            Sunny andBreezy
1         Tonight  High: 64 °F               Mostly Clear
2       Wednesday  High: 66 °F  Sunny thenSunny andBreezy
3  WednesdayNight  High: 66 °F     Mostly Clearand Breezy
4        Thursday  High: 64 °F            Sunny andBreezy

<b> 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, 
company name, CTC, and apply date. </b>

In [4]:
def Internshala(url):
    p9 = requests.get(url)
    #p9.content
    print(p9.status_code)
    
    s9 = BeautifulSoup(p9.content, "html.parser")
    #print(s9.prettify())
    
    title = []
    company = []
    ctc = []
    apply_date = []
    
    temp = []
    
    get_titles = s9.find_all('div',class_ = "heading_4_5 profile")   
    get_companies = s9.find_all('a', class_ = 'link_display_like_text')
    get_ctcadate = s9.find_all('div',class_ = "item_body", id = False)
    
    for cdate in get_ctcadate:
        temp.append(cdate.text.strip())
        
    for t, c in zip(get_titles, get_companies):
        title.append(t.text.strip())
        company.append(c.text.strip())
    
    for i in temp:
        ctc.append(i) if 'LPA' in i else apply_date.append(i)
            
    Internshala = pd.DataFrame({'Title': title,
                     'Company': company,
                     'CTC': ctc,
                     'Apply Date': apply_date
                     })
    print("Shape of dataset is {} rows and {} columns".format(*Internshala.shape))
    print(Internshala.head())

In [5]:
Internshala("https://internshala.com/fresher-jobs")

200
Shape of dataset is 40 rows and 4 columns
                          Title          Company        CTC  Apply Date
0  Talent Acquisition Executive        CrewKarma  3 - 5 LPA  24 Jun' 21
1          Full Stack Developer          Codfirm  5 - 8 LPA  24 Jun' 21
2             Backend Developer          WebMOBI      3 LPA  24 Jun' 21
3          Full Stack Developer  TMBill Software      3 LPA  24 Jun' 21
4        Junior Sales Associate       Kraftshala      4 LPA  24 Jun' 21

<b> The End!!! </b>